@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

ul{
    display: flex;
    justify-content:space-around;
    list-style: none;
    align-items: center;
}
ul>div{
    display: flex;
   gap: 20px;
   margin-left: 500px;
}
ul a{
    text-decoration: none;
    color: #3A3A3A;
}
.sp{
    font-weight: bold;
    font-size: 2em;
}
div li{
    font-size: 1em;
   

}
.first{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 135px;
    background-color: #fffdfd;

}
.first h1{
    height:130px;
    width:  582px;
    font-size: 4em;
    font-weight: bold;
}
.first p{
     height:60px;
    width:  505px;
    font-size: 1em;
    font-weight: 600;
    color: #3A3A3A;
}
.btn{
    height: 44hug;
    width: 190hug;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 56px 10px 24px;
    font-size: 1em;
    font-weight: bold;
}
.first button{
    border-radius: 30px;
}
#img{
    height: 475px;
    width: 475px;
}
.first img{
    background-image: url(/images/logos/Circle\ design.svg);
}
.cart{
  
    height: 110px;
    width: 1110px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap:61px;
    margin-top: 50px;
   margin-left: 400px;
   align-items: center;
   justify-content: center;
}

.collection{
   
   
  width: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{ 
     height:1662px;
    width: 1047px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.fon{
font-family:Poppins;
}
.head{
    height: 4em;
    width: 17em;
    font-size: 2em;
    font-weight: 500;
   
    text-align: center;

}
.color{
    color:#3A3A3A;
}
.box{
    height: 475px;
    width: 347px;
    box-shadow: #3A3A3A;
    

}
.box img{
    height: 256px;
    width: 300px;
}
.para{
    font-size: 24px;
    opacity: 0.8;
}
.paraone span{
    color: orange;
}
.paraone{
    opacity: 0.8;
}
.paratwo{
font-size: 14px;
font-weight: 600;
color: #787885;

}
.features{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 270px;
 width: 1110px;
margin: 100px auto;
gap: 90px;
}
.features img{
    width: 404px;
}
.wri{
    height: 224px;
    width: 610px;
   
}
.wri h1{
    color: #0A0826;
    font-size: 38px;
    font-weight: bold;
    height: 60px;
    width: 610px;
    margin-bottom: 0px;
}
.wri p{
    width: 501px;
    height: 88px;
    color: #6C6C6C;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
.wri botton{
 margin-top: 0px;
}
.foot{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(33, 9, 33);
}
.foot h1{
    height: 36px;
    width: 243px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.foot p{
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.foot div{
    display: flex;
   gap: 20px;
}
.foot img{
    height: 32px;
    width: 32px;
   filter: grayscale(100%);
  
}
@media screen and (max-width:600px){
    .first{
        flex-direction:column-reverse;
        
    }
    ul{
        flex-direction: column;
        
    }
    ul div{
        display: none;
        margin: 0px;
    }
  .cart{
    height: auto;
    width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;   /* 2 rows */
  gap: 20px;

  align-items: center;     /* vertical alignment */
  justify-items: center;
  margin-left: 0px;
  }
  .first>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .first h1{
    width: 98%;
    height: auto;
  }
  .first p{
    height: 65px;
    width: 360px;
  }
  .collection{
    height: auto;
    width: 100%;
  }
  .container{
    grid-template-columns: repeat(1,1fr);
    height: auto;
    width: 100%;
   
  }
  .head{
    height: auto;
    width: 100%;
  }
.box{
    margin-left: 110px;
    margin-bottom: 50px;
}
.features{
    flex-direction: column-reverse;
    height: auto;
    width: 100%;
}
.wri{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.wri h1{
    height:auto;
    width: 100%;
    text-align: center;
}

}