ul{
    display: flex;
    justify-content:space-around;
    list-style: none;
    align-items: center;
}
ul>div{
    display: flex;
   gap: 20px;
   margin-left: 500px;
}
ul a{
    text-decoration: none;
    color: #3A3A3A;
}
.sp{
    font-weight: bold;
    font-size: 2em;
}
div li{
    font-size: 1em;
   

}
.first{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 135px;
    background-color: #fffdfd;

}
.first h1{
    height:130px;
    width:  582px;
    font-size: 4em;
    font-weight: bold;
}
.first p{
     height:60px;
    width:  505px;
    font-size: 1em;
    font-weight: 600;
    color: #3A3A3A;
}
.btn{
    height: 44hug;
    width: 190hug;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 56px 10px 24px;
    font-size: 1em;
    font-weight: bold;
}
.first button{
    border-radius: 30px;
}
#img{
    height: 475px;
    width: 475px;
}
.first img{
    background-image: url(/images/logos/Circle\ design.svg);
}
.cart{
  
    height: 110px;
    width: 1110px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap:61px;
    margin-top: 50px;
   margin-left: 350px;
   align-items: center;
   justify-content: center;
}
@media screen and (max-width:600px){
    .first{
        flex-direction:column-reverse;
        
    }
    ul{
        flex-direction: column;
        
    }
    ul div{
        display: none;
        margin: 0px;
    }
  .cart{
    height: auto;
    width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;   /* 2 rows */
  gap: 20px;

  align-items: center;     /* vertical alignment */
  justify-items: center;
  margin-left: 0px;
  }
  .first>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .first h1{
    width: 98%;
    height: auto;
  }
  .first p{
    height: 65px;
    width: 360px;
  }

}
.collection{
   
  width: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
     height:1662px;
    width: 1047px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}