ul{
    display: flex;
    justify-content:space-around;
    list-style: none;
    align-items: center;
}
ul>div{
    display: flex;
   gap: 20px;
   margin-left: 500px;
}
ul a{
    text-decoration: none;
    color: #3A3A3A;
}
.sp{
    font-weight: bold;
    font-size: 2em;
}
div li{
    font-size: 1em;
   

}
.first{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 135px;
    background-color: #fffdfd;

}
.first h1{
    height:130px;
    width:  582px;
    font-size: 4em;
    font-weight: bold;
}
.first p{
     height:60px;
    width:  505px;
    font-size: 1em;
    font-weight: 600;
    color: #3A3A3A;
}
.btn{
    height: 44hug;
    width: 190hug;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 56px 10px 24px;
    font-size: 1em;
    font-weight: bold;
}
.first button{
    border-radius: 30px;
}
#img{
    height: 475px;
    width: 475px;
}
.first img{
    background-image: url(/images/logos/Circle\ design.svg);
}