#first{
    background-color: #f3a9b9;
    width: 1830px;
    height: 800px;
    display: flex;
    align-items: center;

}
#first div{
    height: 505px;
    width: 707px;
    margin-left: 240px;
}
#first img{
    height: 800px;
    width: 600px;
    margin-right: 200px;
    margin-left: 99px;
}
#first h1{
    height: 250px;
    width: 700px;
    font-weight: bold;
    font-size: 80px;
}
#first p{
    height: 90px;
    width: 630px;
    font-size: 20px;
    color: #272727;
    margin-bottom: 0px;
}
#first button{
    height: 55px;
    width : 156px;
    border-radius: 5px;
    background-color: #E55473;
    margin-top: 0px;
cursor: pointer;
padding: auto;
    
}
@media screen and (max-width:600px){
    #first{
        width: 100%;
        height: auto;
        flex-direction: column;

    }
    #first div{
        width: 100%;
        margin-left: 0px;
    }
    #first h1{
        width: 100%;
        height: auto;
      
    }
    #first p{
        width: 100%;
        height: auto;
    }
    #first img{
        height:100%;
        width: 100%;
        
        margin-top: 100px;
    }
}
#second{
   
    height: 132px;
    width: 590px;
   margin-left: 550px;
   text-align: center;
}
#second p{
    height: 90px;
    width: 590px;
}
#three{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
#a{
    background-color: #A72162;

}

#c{
    background-color: #477D11;
}
.flower{
        border-top-left-radius: 190px;
    border-top-right-radius: 190px;
    height: 100%;
}
#b{
    background-color: #0597A0;
  
}
#three div{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
@media screen and (max-width:600px){
  #second{
    width: 100%;
    margin: 0px;
  }
  #second p{
    width: 100%;
    height: auto;
  }
    #three{
        flex-direction: column;
        gap: 50px;
    }
    #three div{
        width: 100%;
    }
}